# Gradle files
.gradle/
build/
app/build/

# Local configuration file (sdk path, etc)
local.properties

# IntelliJ / Android Studio
.idea/
*.iml
*.iws

# OS-specific
.DS_Store
Thumbs.db

# Log files
*.log
logcat.txt

# Environment variables
.env

# Kotlin
.kotlin/

# Captures
/captures

# Screen recordings / media
*.webm
*.mp4

# Python scripts
*.pyc
__pycache__/

# Native
.externalNativeBuild
.cxx